* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #ffffff;
    color: #333;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #e50914;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* HERO */
.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1505691938895-1758d7feb511");
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin: 15px 0;
    font-size: 20px;
}

.search-box {
    margin-top: 30px;
}

.search-box input {
    padding: 12px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

.search-box button {
    padding: 12px 20px;
    background: #e50914;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* SECTION */
.section {
    padding: 60px;
    text-align: center;
}

.gray {
    background: #f5f5f5;
}

/* CITY */
.city-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.city-card {
    width: 250px;
}

.city-card img {
    width: 100%;
    border-radius: 10px;
}

.city-card p {
    margin-top: 10px;
    font-weight: bold;
}

/* FLATS */
.flat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    margin-top: 40px;
}

.flat-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.flat-card img {
    width: 100%;
    border-radius: 10px;
}

.flat-card h3 {
    margin: 10px 0;
}

.flat-card p {
    color: #e50914;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    padding: 40px;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-top: 5px;
}

footer h3 {
    margin-bottom: 10px;
}

footer p {
    margin-top: 5px;
}
